#proyectos{
  margin-top: 3rem;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
  text-align: center;
}

.card{
  align-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  display: flex;
  height: 500px;
  justify-content: center;
  margin-top: 1em;
  overflow: hidden;
  padding: 1em;
  position: relative;
  text-align: justify;
  text-anchor: start;
  transition: height 0.3s, box-shadow 0.3s;
  width: auto;
}

.btn{
  margin: .5em;
}
  